[Unit]
Description=Run БренксЧат backup every day

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=30m
Persistent=true
Unit=brenkschat-backup.service

[Install]
WantedBy=timers.target
